


body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* Set box-sizing to border-box for all elements */

  box-sizing: border-box;
}

/* Set default margin and padding to 0 for all elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Add a global box shadow */
.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
